@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "shabnam" ;
  src: url(../public/font/Shabnam-Medium.ttf);
  font-display: swap;
}

body{
  font-family: "shabnam";
}

.res{
  @apply container mx-auto px-6
}

.active{
  @apply text-black dark:text-white
}
.lol{
  position: absolute;
  bottom: -20px;
  right: -50px;
  transition: all .15s ease-in;
  opacity: 0;
  visibility: hidden;
}
.flol:hover > span{
  opacity: 1;
  visibility: visible;
}


